.AboutSection {
  padding: 100px 0;
  background-color: #ffffff;
}
.ImageBlock {
  background-color: #1a1819;
}

.aboutUsHeading {
  display: flex;
  justify-content: center;

  align-items: center;
  div {
    padding: 0 40px;
    h1 {
      font-size: 48px;
      margin-bottom: 14px;
    }
    p {
      width: 80%;
      font-size: 14px;
      margin-bottom: 28px;
      color: #969696;
    }
    .Btns {
      padding: 0;
    }
  }
}
