.popularSection {
  background-color: #f8fafb;
  padding: 70px 80px;
}

.popularTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 48px;
  }
  p {
    font-size: 16px;
    text-align: center;
  }
}
.PopularDish {
  margin-top: 20px;
}
.cardItem {
  border-radius: 12px;
  padding: 30px 30px 5px 30px;
  border: none;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.DishImage {
  img {
    width: 100px;
  }
}
.dishRating {
  h5 {
    font-size: 18px;
  }

  .starRating {
    color: rgb(255, 163, 42);
  }
  span i {
    color: #e9242e;
    margin-right: 10px;
    margin-left: 2px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
  }
}

.dishIcon {
  float: right;
}

.dishPrice {
  h6 {
    font-size: 24px;
    font-weight: bold;
  }
}

.addtocart {
  //   border: 1px solid #e9242e;
  border: none;
  float: right;
  padding: 7px 14px;
  font-size: 11px;
  border-radius: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  background-color: #f85514;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, #f85514b0 0px 0px 0px 1px;
  transition: all 0.3s ease;
  span i {
    margin-right: 12px;
  }
}
